[submodule "jenkins-dsl"]
	path = jenkins-dsl
	url = git@github.com:flavioaiello/jenkins-dsl.git
[submodule "nexus3"]
	path = nexus3
	url = git@github.com:flavioaiello/nexus3.git
[submodule "openvpn"]
	path = openvpn
	url = git@github.com:flavioaiello/openvpn.git
[submodule "sni-router"]
	path = sni-router
	url = git@github.com:flavioaiello/sni-router.git
